NEXT_PUBLIC_API_HOST=
INTERNAL_API_HOST=
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="https://yourdomain.com"
NEXT_PUBLIC_BETTER_AUTH_URL="https://yourdomain.com"
BETTER_AUTH_MICROSOFT_CLIENT_ID=
BETTER_AUTH_MICROSOFT_CLIENT_SECRET=
BETTER_AUTH_MICROSOFT_TENANT_ID=
